@import "../../../../scss/index.scss";

.img-card {
  img {
    border-radius: 10px;

    width: 100%;
    margin-bottom: 10px;
  }

  button {
    background: none;
    border: none;

    &.edit {
      left: 5px;
      bottom: 8px;

      img {
        width: 30px;
      }
    }

    &.delete {
      right: 5px;
      bottom: 8px;

      img {
        width: 22px;
      }
    }
  }
}

p {
  color: $secondary-text-color;
}

#staticModal {
  .modal-content {
    background-color: $secondary-bg-color;

    color: $primary-text-color;

    .modal-footer {
      :last-child {
        background-color: $primary-btn-color;

        color: $primary-text-color;
      }
    }
  }
}

.placeholder {
  height: 150px;
  margin-bottom: 10px;
}
