@if (userPins) { @for (pin of userPins.pins; track $index) {
<div class="img-card position-relative">
  <img [id]="pin.id" [src]="pin.image" [alt]="pin.title" />
  <button class="edit position-absolute" type="button">
    <img src="../../../../assets/icons/editar-icon.svg" alt="Editar" />
  </button>
  <button
    class="delete position-absolute"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#staticModal"
  >
    <img src="../../../../assets/icons/excluir-icon.svg" alt="Excluir" />
  </button>
</div>
<div
  class="modal fade"
  id="staticModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h4">Tens certeza que queres fazer isso?</h1>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <span
          >Ao excluir, não será possível recuperar essa imagem novamente!</span
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          (click)="deletePin(pin.id)"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
} @empty {
<p class="fs-5 text-nowrap">Adicione uma imagem e encontre ela aqui!</p>
} } @else {
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
<div class="placeholder-glow w-100">
  <span class="placeholder w-100"></span>
</div>
}
