<header>
  <nav class="container navbar navbar-expand-lg">
    <div class="container" data-bs-theme="dark">
      <button
        type="menu"
        class="navbar-toggler"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavBar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img src="../../../../assets/imgs/Logo.png" alt="Logo" />
      </a>
    </div>
    <div
      class="offcanvas offcanvas-start w-75"
      tabindex="-1"
      id="offcanvasNavBar"
    >
      <div class="offcanvas-header" data-bs-theme="dark">
        <button
          type="menu"
          class="btn-close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>
      <div class="offcanvas-body navbar-nav gap-2">
        <a class="nav-link link-light" routerLink="">Início</a>
        <a class="nav-link link-light" routerLink="/pins">Explorar</a>
        <a class="nav-link link-light" routerLink="/create">Criar</a>
        <a
          id="account"
          class="nav-link link-light text-nowrap"
          [routerLink]="['/account/form']"
          >Entre ou Cadastre-se</a
        >
      </div>
    </div>
  </nav>
</header>
