@import "../../../../scss/index.scss";

header {
  background: $secondary-bg-color;

  nav {
    .offcanvas {
      background: $secondary-bg-color;
    }

    a {
      font-size: rem-cal(20);

      &:hover {
        color: #000000 !important;
      }
    }
  }

  .link-actived {
    color: #000000 !important;
  }
}

@media (min-width: 1024px) {
  #account {
    background: $primary-bg-color;
    border-radius: 0 15px 0 15px;

    color: $secondary-text-color !important;
    font-weight: bold;

    &:hover {
      background-color: #000000;

      color: $primary-text-color !important;
    }

    &.link-actived {
      background-color: #000000;

      color: $primary-text-color !important;
    }
  }
}
