@import "../../../scss/index.scss";

main {
  h4 {
    color: $tertiary-text-color;
  }

  #pinCard {
    column-count: 2;
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  main {
    #pinCard {
      column-count: 4;
    }
  }
}
