// Cores principais de background
$primary-bg-color: #c5f1ff;
$secondary-bg-color: #a7e9fe;

// Cores principais de textos
$primary-text-color: #309ddb;

// Cores principais dos botões
$primary-btn-color: #508cb8;
$secondary-btn-color: #909093;
$tertiary-btn-color: #25cf7e;
