// Cores principais de background
$primary-bg-color: #ffff;
$secondary-bg-color: #405de6;

// Cores principais de textos
$primary-text-color: #ffff;
$secondary-text-color: #405de6;

// Cores principais dos botões
$primary-btn-color: #e9ff32;
