// Cores principais de background
$primary-bg-color: #001e6b;
$secondary-bg-color: #080033;

// Cores principais de textos
$primary-text-color: #ffff;

// Cores principais dos botões
$primary-btn-color: #e9ff32;
