<main class="container">
  @if (userData) {
  <section id="userData" class="d-flex flex-column flex-md-row gap-md-5 mb-4">
    <div class="d-flex flex-column align-items-center gap-2">
      <label for="userImg">
        <img
          [src]="
            userData.user.profile_picture
              ? userData.user.profile_picture
              : '../../../assets/icons/user-icon.svg'
          "
          [alt]="userData.user.username"
        />
      </label>
      <form [formGroup]="userImg" class="d-none">
        <input
          id="userImg"
          class="d-none"
          type="file"
          (change)="editUserImg($event)"
        />
      </form>
      <p class="fs-5 fw-bold">{{ userData.user.username }}</p>
    </div>
    <div id="bio" class="p-2 p-md-4 w-100">
      <h5 class="fw-bold">Descrição</h5>
      <p class="overflow-y-auto">
        {{
          userData.user.bio ? userData.user.bio : "Fale um pouco sobre você!"
        }}
      </p>
    </div>
  </section>
  }
  <h4 class="mb-3">Minhas imagens</h4>
  <section id="userPins">
    <app-user-pin-card></app-user-pin-card>
  </section>
</main>
<app-footer></app-footer>
