@import "../../../scss/index.scss";

main {
  background-image: url(../../../assets/imgs/Background-form.png);
  background-position: center;
  background-size: cover;

  section {
    background-color: $primary-bg-color;
    border-radius: 50px;

    p {
      color: $secondary-text-color;

      span {
        cursor: pointer;
      }
    }
  }
}
