<h1 class="text-center fw-bold mb-4">Enviar Imagem</h1>
<form class="d-lg-flex justify-content-lg-between">
  <section id="imgFile">
    <div class="mb-4">
      <label
        class="d-block w-50 m-auto mb-4 text-center fs-5 pt-1 pb-1"
        for="file"
        >Uploud</label
      >
      <input
        id="file"
        class="d-none"
        type="file"
        (change)="showImagePreview($event)"
      />
      @if (imgPreview) {
      <img class="w-100" [src]="imgPreview" />
      } @else {
      <div
        id="imgOff"
        class="w-100 d-flex justify-content-center align-items-center"
      >
        <p class="text-black fw-medium">Insira uma imagem para visualizar!</p>
      </div>
      }
    </div>
  </section>
  <section id="inputGroup">
    <div class="mb-4">
      <h2 class="mb-3">Título</h2>
      <input class="w-100" type="text" placeholder="Use a criatividade" />
    </div>
    <div class="mb-4">
      <h2 class="mb-3">Descrição</h2>
      <textarea
        class="w-100"
        placeholder="O que sua imagem signifca?"
      ></textarea>
    </div>
    <div id="tags" class="mb-4">
      <h2 class="mb-3">Tags</h2>
      @if (selectedTag.length == 0) {
      <input
        class="w-100"
        type="text"
        placeholder="Torne sua imagem mais fácil de encontrar"
        disabled
      />
      } @else {
      <div class="d-flex flex-wrap gap-2">
        @for (selected of selectedTag; track $index) {
        <span class="text-capitalize">#{{ selected }}</span>
        }
      </div>
      }
      <ul type="none" class="d-flex flex-wrap gap-3 p-0 mt-2">
        @for (tag of tagName; track $index;) {
        <li
          class="text-capitalize"
          [ngClass]="{ selected: tagSelectionStage[tag.title] }"
          (click)="selectTag($index)"
        >
          #{{ tag.title }}
        </li>
        } @empty {
        <li>Nenhuma tag encontrada</li>
        }
      </ul>
    </div>
    <input
      class="border-0 d-block m-auto pt-2 pb-2 h4 fs-4"
      type="submit"
      value="Criar"
    />
  </section>
</form>
