@import "../../../scss/index.scss";

main {
  #searchPin {
    margin: auto;
    margin-bottom: 40px;
    max-width: 765px;
  }

  #pins {
    column-count: 2;
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  main {
    #pins {
      column-count: 4;
    }
  }
}
