@import "../../../scss/index.scss";

main {
  background-image: url(../../../assets/imgs/background-home.png);
  background-position: center;
  background-size: cover;

  min-height: calc(100vh - 161px);

  #searchPin {
    #searchGroup {
      backdrop-filter: blur(3px);
      border-radius: 50px;

      display: flex;

      padding: 10px;

      input {
        background: none;
        border: none;

        font-size: rem-cal(16);
        font-weight: normal;
        text-indent: 10px;

        width: calc(100% - 30px);

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-weight: 300;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }
      }

      button {
        background: none;
        border: none;

        img {
          width: 30px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 137px);
  }
}
