/* Padrões */
.kanit {
    font-family: 'Kanit', sans-serif;
}
/* Animações */
@keyframes showForm {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    75% {
        opacity: 0.5;
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.show-form {
    animation-name: showForm;
    animation-duration: 1300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes closeForm {
    0% {
        opacity: 1;
        scale: 1;
    }
    75% {
        opacity: 0.5;
        scale: 1.2;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

.close-form {
    animation-name: closeForm;
    animation-duration: 1300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
/* Cabeçalho */
header {
    background: #A7E9FE;
}

#img-logo {
    width: 65px;
}

#text-logo {
    left: -8px;
    color: #309DDB;
}

.nav-link{
    color: #309DDB;
}
/* Conteúdo principal */
main {
    background: #C5F1FF;
}
/* Rodapé */
footer {
    background: #A7E9FE;
}

#text-copy {
    text-indent: 10px;
}
/* Pág formulário */
@media (min-width: 768px) {
    #main-form {
        height: 558px;
    }
}

#form-login{
    scale: 0.5;
    opacity: 0;
}

#form-cad {
    scale: 0.5;
    opacity: 0;
}

#text-frm-login, #text-frm-cadastro, 
#login-email::placeholder, #login-password::placeholder,
#cad-user::placeholder, #cad-email::placeholder,
#cad-password::placeholder, #cad-password-confirm::placeholder{
    color: #309DDB;
}


#btn-login, #btn-cadastro {
    background: #508CB8;
}
/* Pág explorar */
#dropdown-menu {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}

#gallery-img {
    column-count: 2;
    column-gap: 10px;
}

@media (min-width: 768px) {
    #gallery-img {
        column-count: 4;
    }
}

@media (min-width: 992px) {
    #gallery-img {
        column-count: 6;
    }
}

.text-img {
    left: 6px;
    bottom: 4px;
}

.tag-img {
    font-size: 10px;
}

.download-img {
    right: 6px;
    bottom: 20px;
    font-size: 14px;
}

.mark {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
}
/*Pag Index */
.background-image{
    display: flex;
    background-position: center center;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-box-wrapper {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
}

.search-box {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.search-box:focus {
    box-shadow: none;
}

.search-icon {
    background-color: transparent;
    border: none;
    color: #6c757d; 
}
/*Pág Criar*/
#main-criar {
    height: 559px;
}

.form-criar{
    background: #C5F1FF;
    
}
.card{
    background: #C5F1FF;
}
/* Pág view imagem */
#view-img {
    height: 559px;
}

.ad-container {
    display: flex;
    align-items: center; /* Alinhar verticalmente no centro */
    justify-content: space-between; /* Espaço entre a imagem e o botão */
    width: 200px;
    height: auto;
    margin: 10px; 
}
.download-button{
    width: 300px;
    height: auto;
    align-items: center;
}
