<form class="container m-auto p-5">
  <h1 class="text-center fw-bold mb-4 mb-md-5">
    Vem se juntar a nossa comunidade!
  </h1>
  <div class="mb-4">
    <h2>Usuário</h2>
    <input class="w-100" type="text" placeholder="Como você se chama?" />
  </div>
  <div class="mb-4">
    <h2>E-mail</h2>
    <input class="w-100" type="email" placeholder="nome@gmail.com" />
  </div>
  <div class="mb-4">
    <h2>Senha</h2>
    <input class="w-100" type="password" placeholder="Senha" />
  </div>
  <div class="mb-4">
    <h2>Confirme a Senha</h2>
    <input class="w-100" type="password" placeholder="Confirmação de Senha" />
  </div>
  <input
    class="border-0 d-block m-auto pt-2 pb-2 h4 fs-4"
    type="submit"
    value="Registrar"
  />
</form>
