@if (pinData) {
<div class="d-lg-flex gap-lg-4">
  <div id="imgData" class="mb-4 mb-lg-0">
    <img class="w-100 mb-2" [src]="pinData.image" [alt]="pinData.title" />
    <div id="groupTitleAndLike" class="d-flex justify-content-between">
      <h1 class="fs-2 fw-bold mb-3">{{ pinData.title }}</h1>
      <!-- <button class="me-3 mb-3" type="button" (click)="setLike()">
        <img src="../../../../assets/icons/dislike-icon.svg" alt="" />
      </button> -->
    </div>
    <h2 class="fs-4 fw-medium mb-4">{{ pinData.description }}</h2>
    <div class="d-flex flex-wrap gap-2">
      @for (tag of pinData.ideas; track $index) {
      <p class="fs-5 fw-light text-capitalize p-2">#{{ tag.title }}</p>
      }
    </div>
  </div>
  <div class="w-100" id="userData">
    <div class="d-flex gap-3 align-items-center mb-4">
      <img
        [src]="
          pinData.user.profile_picture
            ? pinData.user.profile_picture
            : '../../../../assets/icons/user-icon.svg'
        "
        [alt]="pinData.user.username"
      />
      <p class="fs-4 m-0 fw-bold">{{ pinData.user.username }}</p>
    </div>
    <button
      class="d-block m-auto m-lg-0 p-2 w-100"
      type="button"
      (click)="imgDownload()"
    >
      <p class="fs-3 m-0">Baixar</p>
    </button>
  </div>
</div>
}
