@import "../../../../scss/index.scss";

div {
  #imgData {
    h1 {
      color: $secondary-text-color;
    }

    h2 {
      color: $tertiary-text-color;
    }

    div {
      p {
        background-color: $primary-btn-color;
        border-radius: 20px;

        color: $primary-text-color;
      }
    }
  }

  #userData {
    div {
      img {
        border: 4px solid $secondary-bg-color;
        border-radius: 50%;

        width: 70px;

        object-fit: cover;
        aspect-ratio: 1/1;
      }

      p {
        color: $secondary-text-color;
      }
    }

    button {
      background-color: $primary-btn-color;
      border: 0;
      border-radius: 20px;

      max-width: 316px;

      p {
        color: $primary-text-color;
      }
    }
  }
}

@media (min-width: 1024px) {
  div {
    #userData {
      max-width: 380px;
    }
  }
}
