<div class="d-lg-flex gap-lg-4">
  <div id="imgData" class="mb-4 mb-lg-0">
    <img
      class="w-100 mb-2"
      src=""
      alt=""
    />
    <h1 class="fs-3 fw-bold mb-3">Título</h1>
    <h2 class="fs-4 fw-medium">Descrição</h2>
    <p class="fs-5 fw-light">Tags</p>
  </div>
  <div class="w-100" id="userData">
    <div class="d-flex gap-3 align-items-center mb-4">
      <img src="../../../../assets/icons/user-icon.svg" alt="" />
      <p class="fs-4 m-0 fw-bold">Usuário 1</p>
    </div>
    <button class="d-block m-auto m-lg-0 p-2 w-100" type="button">
      <p class="fs-3 m-0">Baixar</p>
    </button>
  </div>
</div>
