// Importações
@import "scss/index.scss";

@font-face {
  font-family: Kalam;
  src: url(assets/fonts/Kalam/Kalam-Light.woff);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Kalam;
  src: url(assets/fonts/Kalam/Kalam-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: kalam;
  src: url(assets/fonts/Kalam/Kalam-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

// Formatação
* {
  font-family: kalam;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
