// Importações
@import "scss/index.scss";

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Bold.woff);
  font-weight: bold;
}

// Formatação
* {
  font-family: Roboto;
}

main {
  min-height: calc(100vh - 161px);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 137px);
  }
}
